<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ticket Booking App</title>
</head>
<body>
	<h1>Fill the below form to book tickets </h1>
	<p th:text="${ticketNumber}"></p>
	<form th:action="@{/book-ticket}" th:object="${passenger}" method="post">
	<table>
		<tr>
			<td>passenger id</td>
			<td><input type="text" th:field="*{pid}"/></td>
		</tr>
		
		<tr>
			<td>passenger Name</td>
			<td><input type="text" th:field="*{name}"/></td>
		</tr>
		<tr>
			<td>passenger Departure</td>
			<td><input type="text" th:field="*{departure}"/></td>
		</tr>
		<tr>
			<td>passenger Arrival</td>
			<td><input type="text" th:field="*{arrival}"/></td>
		</tr>
		<tr>
			<td>passenger Date of Journey</td>
			<td><input type="text" th:field="*{dateOfJurney}"/></td>
		</tr>
		<tr>
			<td><input type="submit" value="Book Ticket"/></td>
		</tr>
	</table>
	
	</form>
	<a href="ticket">Get the Ticket</a>
	
</body>
</html>